@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Open+Sans:ital,wght@0,500;0,800;1,800&family=Rammetto+One&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{font-family: 'Caprasimo', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rammetto One', cursive;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

























